* {
  margin: 0px;
  padding: 0px;
}
body {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  animation: photo 20s linear infinite ;
  align-items: center;
  background-attachment: fixed;
  background-position:center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: repeat;
   
}
@keyframes photo {
  0%{
     background:url(/image/bmi1.jpg);
     background-attachment: fixed;
   background-size: cover;
  }
  30%{
     background:url(/image/bmi2.jpg);
     background-attachment: fixed;
   background-size: cover;
  }
  60%{
     background:url(/image/bmi3.webp);
     background-attachment: fixed;
   background-size: cover;
  }
  100%{
     background:url(/image/bmi4.webp);
     background-attachment: fixed;
   background-size: cover;
  }
  
}

    

h1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px white;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: change ease-in-out;
 
}
#para{
    font-size: 20px;
}

.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  width: 400px;
  height: 300px;
  border: 2px white;
  border-radius: 40px;
  box-shadow: 20px 20px 20px black;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
button {
  width: 135px;
  border-radius: 30px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  font-size: 15px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  transition: 0.3s ease-in-out;
}
button:hover {
  background-color: aqua;
  color: black;
  width: 150px;
  cursor: pointer;
}
h3:hover {
  font-size: 20px;
}
